<?xml version='1.0' encoding='utf-8'?>
<widget id="com.jonandnic.enyo.homecontrol" version="1.0.4" xmlns="http://www.w3.org/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Home Control</name>
    <description>Home automation controller</description>
    <author email="curator@webosarchive.org" href="http://www.webosarchive.org">
        webOS Archive
    </author>
    <icon src="www/icons/icon.png" />
    <content src="index.html" />
    <allow-intent href="*" />
    <allow-navigation href="http://*/*" />
    <allow-navigation href="https://*/*" />
    <allow-navigation href="data:*" />
    <access origin="*" />
    <preference name="Scheme" value="http" />
    <platform name="android">
        <edit-config file="AndroidManifest.xml" mode="merge" target="/manifest/application">
            <application android:usesCleartextTraffic="true" />
        </edit-config>
    </platform>
</widget>
