.accessoryListIcon {
    width: 32px;
    height: 32px;
    vertical-align: "middle";
}
.defaultAccessory {
    background-image: url("../images/accessory.png");
    background-size: 32px 32px;
}
.light {
    background-image: url("../images/light-icon.png");
    background-size: 32px 32px;
}
.light.true {
    background-image: url("../images/light-icon-true.png") !important;
    background-size: 32px 32px;
}
.outlet {
    background-image: url("../images/outlet-icon.png");
    background-size: 32px 32px;
}
.outlet.true {
    background-image: url("../images/outlet-icon-true.png") !important;
    background-size: 32px 32px;
}
.door {
    background-image: url("../images/door-icon.png");
    background-size: 32px 32px;
}
.door.true {
    background-image: url("../images/door-icon-true.png") !important;
    background-size: 32px 32px;
}
.fan {
    background-image: url("../images/fan-icon.png");
    background-size: 32px 32px;
}
.fan.true {
    background-image: url("../images/fan-icon-true.png") !important;
    background-size: 32px 32px;
}
.highlightedRow {
    background-color: dimgray;
    color: white;
}
.browserModal {
    padding: 20px; 
    padding-top:30px; 
    background-color:lightgray; 
    border:1px solid dimgray; 
    border-radius: 3%;
    -moz-border-radius: 3%;
    box-shadow: 2px 2px 3px black;
}